.main-container {
	width: 1440px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
}

.title {
	font-size: 40px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.list {
	display: inline-flex;
}

.list:hover {
	cursor: pointer;
}

.icon {
	align-self: center;
	margin-left: 5px;
}
