.card {
	width: 460px;
	height: 200px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #364051;
	display: inline-flex;
	flex-direction: row;
}

.imageContainer {
	width: 35%;
}

.image {
	object-fit: fill;
}

.infoContainer {
	width: auto;
	padding: 10px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	margin-bottom: 5px;
}

.icon:hover {
	cursor: pointer;
}

.info {
	font-size: 16px;
	color: #a3a3a3;
}

.synopsis {
	font-size: 16px;
	color: #e2e2e2;
	margin-top: 10px;
}
